<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link rel="stylesheet" type="text/css" href="../personal_dist/style.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../personal_dist/our.css">
        <!-- JavaScript -->
        <script type="text/javascript" src="../utils.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        
        
        <title>I borghi</title>
    </head>


    <body class="bg1">
        <%- include('navbar')%>
        <div style="padding: 40pt;"></div>
        <div class="container cont">            
            <div class="row d-flex">
                            <% borghi.forEach((item,i) => {%>
                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                    <div class="col-md-4">

                                        <div id="carosello<%=i%>" class="carousel" data-bs-ride="carousel" >
                                            <div class="carousel-indicators">
                                                <button type='button' data-bs-target='#carosello<%=i%>' data-bs-slide-to="0" class='active' aria-current='true' aria-label='Slide "0" '></button>
                                                <% (item.foto).forEach( (it,index) => {%>
                                                    <%if(index!=0){ %>
                                                        <button type='button' data-bs-target='#carosello<%=i%>' data-bs-slide-to="<%=index%>" aria-label='Slide "<%=index%>"'></button>
                                                    <% } %>
                                                  <% }) %>
                                            </div>
                                            
                                            <div class="carousel-inner" id="primi_carousel<%=i%>">
                                                <div class="carousel-item active">
                                                    <img style="width:100%; height:240px;  margin: auto;" src="<%=item.foto[0]%>">
                                                </div>
                                                <% (item.foto).forEach( (it,index) => {%>
                                                    <%if(index!=0){ %>   
                                                        <div class="carousel-item">
                                                        <img style="width:100%; height:240px;  margin: auto;" src="<%=it%>">
                                                        </div>
                                                    <% } %> 
                                                <% }) %> 
                                            </div>        

                                          </div>


                                    <!--   <img src="<%=item.foto%>" class="card-img" style="height: 100px;" alt="..."> -->
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body row">
                                            <h4 style="color: blue;" class="card-title"><%=item.nome%> (<%=item.regione%>)</h4>
                                            <div class="col-lg-8">
                                                <p class="card-text desc pt-2"><%=item.descrizione%> </p>
                                            </div> 
                                            <div class="col-lg-4 table-responsive">
                                                <table class="table" style="min-width: 300px;">
                                            <tbody>
                                                <tr>
                                                    <% item.main.forEach((m,idx) => {%>
                                                    <td>
                                                        <h6 class="card-text"><%=dates[idx]%></h6>
                                                        <h5 class="card-text">  <%=m%> </h5>
                                                        <img src="http://openweathermap.org/img/wn/<%=item.icona[idx]%>@2x.png">
                                                        <!--   <h6 class="card-text"><%=m%>  <span><img src="http://openweathermap.org/img/wn/<%=item.icona[idx]%>@2x.png"></span></h6> -->                                                        
                                                    </td>
                                                    <% }) %>
                                                </tr>
                                            </tbody>
                                                </table>  
                                            </div> 
                                            <a href="/borgo?borgo=<%=item.nome%>" class="btn btn-primary mt-2 mb-2" style="align-content: center;"> Scopri di più</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <%});%>
                </div>
        </div>
            <%- include('footer'); -%>
    
    </body>
    <script>


var db;
    $( function() {
      $( "#stazionePartenza" ).autocomplete({
        minLength: 3,
        source: function( request, response ) {        
          $.getJSON( '/stazioni_autocomplete',request, function(data) {
            db=data;
            response( data );
          });
        }
      });
    });
    function validSearch(){ 
        var search= document.getElementById("stazionePartenza");
        console.log(db);
        if(!db.includes(search.value)){
            console.log(search.value);
            alert("Attenzione la stazione inserita non è valida");
            event.stopPropagation();
            event.preventDefault();
        }
    }


        
    
        //effetto scroll rallentato
        $(function() {
    
            $('a[href*="#"]:not([href="#"])').click(function() {
    
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
    
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
    
                        $('html,body').animate({
    
                            scrollTop: target.offset().top
                        }, 500);
                        return false;
    
                    }
    
    
                }
    
    
    
            });
    
    
    
    
        });
    
    let data=new Date();
    data.setDate(data.getDate()+6);
    $("#CheckInDate")[0].max=(data).toISOString().split("T")[0];

    data.setDate(data.getDate()+1);
    $("#CheckOutDate")[0].max=(data).toISOString().split("T")[0];

    </script>
    
    </html>