<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" type="text/css" href="../personal_dist/style.css" />
        <script type="text/javascript" src="../function.js"></script>
    
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../personal_dist/our.css">
        <link href="https://fonts.googleapis.com/css?family=Georgia" rel="stylesheet">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    
        <script src="https://unpkg.com/scrollreveal"></script>
        
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <title>Anulare</title>
    <style>
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 210pt;
            height: 300pt;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .img-card{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            width: auto;
        }
        .card-body {
            flex: 1 1 auto;
            padding: 1rem;
            min-height: 1;
        }
    </style>
    </head>

<body class="bg1">
  <div class="multi-bg">
    <%- include('navbar')%>
        <div style="padding: 40pt;"></div>
        <div class="container cont">
            <h1 class="text-center index-subtitle">Scopri i borghi più belli d'Italia</h1>
            <h3 class="index-paragraph text-center">Scegli il borgo che vorresti visitare o parti subito alla scoperta di quelli consigliati per te!</h3>
            <div style="padding: 10pt;"></div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nav class="shadow container p-3 rounded-3 " style="background-color: #e3f2fd;">
                        <form class="row" method="post" action="/borgo">
                            <div class="col-lg-12 mb-2" id="controls">
                              <!--<input type="text" class="active form-control" id="testo_ricerca" name="testo_ricerca" placeholder="Cerca per Hotel o per Città">-->
                                <select id="borgo" id="testo_ricerca" name="testo_ricerca" aria-placeholder="Scegli un borgo" class="form-control" onclick=tempo(this.value)>
                                  <optgroup id="Piemonte" label="Piemonte">
                                  </optgroup>
                                  <optgroup id="Valle D’Aosta" label="Valle D’Aosta">
                                </optgroup>
                                <optgroup id="Lazio" label="Lazio">
                                </optgroup>
                                <optgroup id="Liguria" label="Liguria">
                                </optgroup>
                                <optgroup id="Trentino A.A." label="Trentino A.A.">
                                </optgroup>
                                <optgroup id="Veneto" label="Veneto">
                                </optgroup>
                                <optgroup id="Friuli Venezia Giulia" label="Friuli Venezia Giulia">
                                </optgroup>
                                <optgroup id="Emilia Romagna" label="Emilia Romagna">
                                </optgroup>
                                <optgroup id="Toscana" label="Toscana">
                                </optgroup>
                                <optgroup id="Marche" label="Marche">
                                </optgroup>
                                <optgroup id="Umbria" label="Umbria">
                                </optgroup>
                                <optgroup id="Abruzzo" label="Abruzzo">
                                </optgroup>
                                <optgroup id="Campania" label="Campania">
                                </optgroup>
                                <optgroup id="Calabria" label="Calabria">
                                </optgroup>
                                <optgroup id="Sicilia" label="Sicilia">
                                </optgroup>


                                </select>     
                             
                                <% var nome=[];var regione=[];var lats=[];var longs=[];%>

                                <% nomi.forEach(item=>
                                    {
                                    nome.push(item.nome);
                                    regione.push(item.regione);
                                    lats.push(item.lat);
                                    longs.push(item.long);       
                                    })
                                    
                                    %>
                                    <script>
                                        var n="<%=nome%>".split(',');
                                        var r="<%=regione%>".split(',');
                                        var la="<%=lats%>".split(',');
                                        var lo="<%=longs%>".split(',');
                                        for(var i=0;i<n.length;i++){
                                        //console.log(n+' '+r+' '+la+' '+lo);
                                        popola(n[i],r[i],la[i],lo[i]);
                                        }
                                    </script>
                                 
                     

                            </div>
                            <div class="col-lg-3 mt-2 d-flex justify-content-center">
                                <label class="active me-1 mt-1" for="dateStandard">Check-in:</label>
                                <input type="date" id="CheckInDate" onchange="checkin_fun();" name="CheckIn" required>
                            </div>
                            <div class="col-lg-3 mt-2 d-flex justify-content-center">
                                <label class="active me-1 mt-1" for="dateStandard">Check-out:</label>
                                <input type="date" id="CheckOutDate" onchange="checkout_fun();" name="CheckOut" required>
                            </div>
                            <div class="col-lg-2 mt-2 d-flex justify-content-center">
                                <label class="active me-2 mt-1">Adulti:</label>
                                <div class="btn-group">
                                    <button type="button" id="lessBtnA" class="btn btn-light rounded-circle" onclick="lessBtnRangeA()">-</button>
                                    <input type="number" value="1" name="adulti" id="adulti" class="form-control-plaintext text-center" readonly style="width: 25pt;">
                                    <button type="button" id="moreBtnA" class="btn btn-light rounded-circle" onclick="moreBtnRangeA()">+</button>
                                </div>
                            </div>
                            <div class="col-lg-2 mt-2 d-flex justify-content-center">
                                <label class="active me-2 mt-1">Ragazzi:</label>
                                <div class="btn-group">
                                    <button type="button" id="lessBtnR" class="btn btn-light rounded-circle" onclick="lessBtnRangeR()">-</button>
                                    <input type="number" value="0" name="ragazzi" id="ragazzi" class="form-control-plaintext text-center" readonly style="width: 25pt;">
                                    <button type="button" id="moreBtnR" class="btn btn-light rounded-circle" onclick="moreBtnRangeR()">+</button>
                                </div>
                            </div>
                            
                            <div class="col-lg-2 mt-2 d-flex justify-content-center">
                                <button class="btn btn-primary rounded-3 fw-bold" onclick="validSearch()">Cerca <i class="ms-2 bi bi-search"></i></button>
                            </div>
                        </form>
                    </nav>
                </div>
            </div>
            <h3 class="index-paragraph text-center mt-4">allora praticamente qua un link per fare la ricerca fortunata</h3>
            <div id="meteo" hidden="true">
                <div style="padding: 30pt;"></div>
                <table class="table">
                    <thead>
                        <tr id="date">

                            <th class="h3 col-auto" style="text-align: center;"></th>
                            <th class="h3 col-auto" style="text-align: center;"></th>
                            <th class="h3 col-auto" style="text-align: center;"></th>
                            <th class="h3 col-auto" style="text-align: center;"></th>
                            <th class="h3 col-auto" style="text-align: center;"></th>
                            <th class="h3 col-auto" style="text-align: center;"></th>
                            <th class="h3 col-auto" style="text-align: center;"></th>
                            <th class="h3 col-auto" style="text-align: center;"></th>
                        </tr>
                        
                    </thead>

                    <tbody>

                        <tr id="icone">
                        
                            <td class="col-auto py-3" style="text-align: center;"><img src=""></td>
                            <td class="col-auto py-3" style="text-align: center;"><img src=""></td>
                            <td class="col-auto py-3" style="text-align: center;"><img src=""></td>
                            <td class="col-auto py-3" style="text-align: center;"><img src=""></td>
                            <td class="col-auto py-3" style="text-align: center;"><img src=""></td>
                            <td class="col-auto py-3" style="text-align: center;"><img src=""></td>
                            <td class="col-auto py-3" style="text-align: center;"><img src=""></td>
                            <td class="col-auto py-3" style="text-align: center;"><img src=""></td>
                        
                        </tr>

                        <tr id="descrizioni">
                        <td class="h5 col-auto py-3" style="text-align: center;"></td>
                        <td class="h5 col-auto py-3" style="text-align: center;"></td>
                        <td class="h5 col-auto py-3" style="text-align: center;"></td>
                        <td class="h5 col-auto py-3" style="text-align: center;"></td>
                        <td class="h5 col-auto py-3" style="text-align: center;"></td>
                        <td class="h5 col-auto py-3" style="text-align: center;"></td>
                        <td class="h5 col-auto py-3" style="text-align: center;"></td>
                        <td class="h5 col-auto py-3" style="text-align: center;"></td>
                        
                        
                        </tr>


                    </tbody>
                </table>
            </div>

            <div class="text-center mt-5 mb-5">
                <a name="zona_scopri"></a>

                <h1 class="index-subtitle">Scopri le regioni più belle d'Italia</h1>
            </div>


            <div class="container">
                <section id="piemonte">

                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-sm-6">

                                <div class="info-left">
                                    <img src="https://images.treccani.it/enc/media/share/images/orig/system/galleries/NPT/VOL_7/IMMAGINI/Piemonte_fig_01.jpg" class="cartina">
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info-right">
                                    <h1 class="title-paragraph">Piemonte</h1>
                                    <h3 class="paragraph">è situato nella zona nord-occidentale della penisola ed è una della cinque Regioni italiane a non avere alcun sbocco sul mare. La storia di questa terra è indissolubilmente legata allo sviluppo del Regno d’Italia,
                                        che ha avuto origine proprio da quello Sardo-Piemontese. Torino è stata infatti la prima capitale italiana, dall’anno dell’unità fino al 1865. Come suggerisce il nome stesso, il Piemonte occupa un territorio
                                        prevalentemente montuoso (la punta più alta è il Nordend con i suoi 4609 metri) ed è ricco di fiumi e laghi. Il clima è temperato-freddo, con inverni piuttosto rigidi ed estate afose. Il capoluogo Torino è ovviamente
                                        la città più importante: conta un ‘area metropolitana di circa 2 milioni di abitanti che comprende poli industriali, culturali e artistici di livello nazionale. Sono molte le aziende storiche nate in questa
                                        città: FIAT, Iveco, Cirio, Lavazza, Einaudi, solo per citarne alcune.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>
                </section>


                <section id="lombardia">

                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-sm-6">

                                <div class="info-left">
                                    <img src="https://i.pinimg.com/originals/55/c4/8e/55c48e4745363ec6a1eed32ff77b8ce8.jpg" class="cartina" >
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info-right">
                                    <h1 class="title-paragraph">Lombardia</h1>
                                    <h3 class="paragraph">Tra le Regioni italiane, è quella con il maggior numero di abitanti: un italiano su sei risiede infatti sul territorio regionale lombardo. I 10 milioni di residenti sono concentrati nell’area intorno a Milano, capoluogo
                                        regionale e fulcro della finanza e dell’economia nazionale. Il resto degli abitanti è distribuito nelle altre province di Sondrio, Como, Lecco, Monza e Brianza, Varese, Bergamo, Brescia, Pavia, Lodi, Cremona
                                        e Mantova, su una superficie di quasi 24 mila km². Il nome della Regione deriva da quello dei Longobardi, la popolazione germanica che nel VI secolo a.C. occupò gran parte della penisola, stabilendo la sede
                                        del regno a Ticinum, l’attuale Pavia. La Lombardia è una terra ricca di splendidi laghi, tra i quali ricorderai sicuramente il Lago Maggiore, il Lago di Como, il Lago d’Iseo e il Lago di Garda. L’economia lombarda
                                        è trainata dalle numerose imprese, che operano soprattutto nel settore industriale, tessile e chimico. Se hai intenzione di raggiungere questa Regione in aereo, hai solo l’imbarazzo della scelta: il suo sistema
                                        aeroportuale è il migliore in Italia, grazie agli scali di Malpensa, Linate, Orio al Serio e Montichiari.

                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>

                </section>

                <section id="toscana">

                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-sm-6">

                                <div class="info-left">
                                    <img src="https://i.pinimg.com/originals/a2/5b/37/a25b37e855179401ebcc8c73c920b89e.jpg" class="cartina">
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info-right">
                                    <h1 class="title-paragraph">Toscana</h1>
                                    <h3 class="paragraph">Il suo nome deriva dall’antica denominazione della Regione etrusca, ossia Tuscia. Dopo il crollo dell’Impero Romano ed il dominio bizantino, le città toscane hanno conosciuto un periodo di progressiva crescita,
                                        testimoniato dall’avvento di Pisa, la Repubblica Marinara che ha esteso il proprio dominio sul Tirreno. La Toscana è stata la culla del Rinascimento: nel Trecento e nel Quattrocento, centri come Firenze e Siena
                                        hanno attirato i migliori artisti dell’epoca, che hanno creato opere d’arte inimitabili. Allo stesso tempo, in queste città si è sviluppato un florido commercio, che ha contribuito allo nascita del settore bancario
                                        moderno. La Toscana è oggi divisa nelle province di Firenze (capoluogo regionale), Siena, Prato, Pistoia, Pisa, Massa, Lucca, Livorno, Grosseto e Arezzo, che ospitano 3 milioni e 700 mila abitanti su una superficie
                                        di circa 23 mila km². L’economia della regione si basa su vari distretti industriali, sulle produzioni agricole e sul turismo, attività che attira circa 6 milioni di presenze ogni anno.

                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>

                </section>

                <section id="lazio">

                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-sm-6">

                                <div class="info-left">
                                    <img src="https://i.pinimg.com/originals/01/51/bb/0151bbd70a06e704c044f12008030511.jpg" class="cartina" >
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info-right">
                                    <h1 class="title-paragraph">Lazio</h1>
                                    <h3 class="paragraph">Seconda Regione italiana per popolazione con circa 5 milioni 900 mila abitanti, il Lazio ha la particolarità di ospitare al suo interno un intero Stato, ovvero la Città del Vaticano. Questo fa si che la città di
                                        Roma sia particolarmente ricca di ambasciate: molti Stati ne dispongono due, una per i rapporti con l’Italia, l’altra per quelli con lo Stato Pontificio. Il nome della Regione deriva da Latium, un’area che,
                                        ancor prima della comparsa di Roma, ospitava un popolo latino. La storia del Lazio è fortemente legata a quella dell’Impero Romano, che dopo aver raggiunto la massima espansione con Traiano nel 117 d.C. si è
                                        dissolto sul finire del V secolo. Dopo essere stato parte del Sacro Romano Impero, il territorio laziale è stato gradualmente incluso nello Stato della Chiesa, fino alla presa di Porta Pia nel 1870, che ne ha
                                        sancito l’appartenenza al Regno d’Italia. Gran parte della popolazione regionale risiede nella capitale, città che ospita le sedi istituzionali dello Stato.


                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>

                </section>

                <section id="campania">

                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-sm-6">

                                <div class="info-left">
                                    <img src="https://www.italiadascoprire.net/wp-content/uploads/sites/15/mappa_campania.jpg" class="cartina" >
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info-right">
                                    <h1 class="title-paragraph">Campania</h1>
                                    <h3 class="paragraph">Al tempo dei Romani, il litorale tirrenico campano era denominato Agro Capuano, nome che si è progressivamente modificato fino a diventare Campania. L’area occupata dall’attuale Regione è stata oggetto di diverse
                                        dominazioni, per opera dei Longobardi, dei Bizantini, dei Normanni, dagli Spagnoli e dai Borboni. Proprio durante il periodo borbonico, fu parte del Regno delle Due Sicilie, prima dell’annessione al Regno d’Italia.
                                        Grazie alla presenza del capoluogo Napoli, che da solo conta quasi un milione di abitanti, la Campania è la tra le Regioni italiane più popolose del Mezzogiorno e la terza in Italia, con i suoi 5 milioni 827
                                        mila abitanti. Oltre a Napoli, le province campane includono Benevento, Caserta, Avellino e Salerno. Geograficamente, la Campania è molto varia, in quanto presenta catene montuose e zone costiere con piccole
                                        isole, come Ischia, Capri e Procida. I suoi innumerevoli tesori artistici ed architettonici rendono questa Regione una delle più importanti del nostro Paese dal punto di vista culturale, come testimoniato dai
                                        6 siti UNESCO presenti nel territorio regionale.


                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>

                </section>
            </div>


        </div>
        <%- include('footer'); -%>
</div>
    

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=maps_key%>&callback=initMap&libraries=places"
      defer
    ></script>

</body>
</html>